<div class="horoscope">
  You will have a day full of <%= @prediction %>.
  <p>
    <a href="/">Try again</a>
  </p>
</div>

<form method="post" action="tweet">
  <input type="hidden" name="status" value="<%= @prediction %>">
  <button type="submit">Post Prediction to Twitter!</button>
</form>
